---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="404 | Page Not Found - Manage"
  description="Sorry, the page you're looking for doesn't exist. Get back on track by visiting the Manage homepage and find what you need."
>
  <section class="error-page">
    <div class="container">
      <img src="/images/icon-triangle-exclamation.svg" alt="" />
      <h1 class="primary-heading">
        Oops! The page you&CloseCurlyQuote;re looking for
        doesn&CloseCurlyQuote;t exist or has been moved.
      </h1>
      <a href="/">Return to Homepage</a>
    </div>
  </section>
</MainLayout>

<style lang="scss">
  @use "../styles/scss/abstracts/" as *;

  %spacer-bottom {
    margin-block-end: var(--spacer-500);
  }

  .error-page {
    margin-block-end: var(--spacer-700);
    text-align: center;

    .container {
      --container-max-width: 45rem;
    }

    img {
      @extend %spacer-bottom;
      margin-inline: auto;
      max-width: 8rem;
    }

    .primary-heading {
      @extend %spacer-bottom;
      color: var(--clr-primary-200);

      @include breakpoint-down(md) {
        font-size: var(--fs-500);
        margin-inline: auto;
        max-width: 30ch;
      }
    }

    a {
      color: var(--clr-primary-100);
      text-decoration: underline;

      &:hover {
        opacity: 0.7;
      }
    }
  }
</style>
