---
import TestimonialsSlides from "./TestimonialsSlides.astro";
---

<section class="testimonials">
  <div class="container">
    <strong class="visually-hidden">Clients Feedback</strong>
    <h2 class="primary-heading">What they&CloseCurlyQuote;ve said</h2>
    <TestimonialsSlides />
    <a href="#get-started" class="btn btn-primary">Get Started</a>
  </div>
</section>

<style lang="scss">
  @use "../styles/scss/abstracts/" as *;

  .testimonials {
    margin-block-end: var(--spacer-900);
    text-align: center;

    @include breakpoint-up(md) {
      margin-block-end: calc(var(--spacer-400) * 8);
    }
  }
</style>
