---
import Swiper from "./Swiper.astro";
import SwiperSlide from "./SwiperSlide.astro";
---

<section class="testimonials">
  <div class="container">
    <h2 class="primary-heading">What they&CloseCurlyQuote;ve said</h2>

    <Swiper>
      <SwiperSlide img="/images/avatar-anisha.png" title="Anisha Li">
        &OpenCurlyDoubleQuote;Manage has supercharged our team&CloseCurlyQuote;s
        workflow. The ability to maintain visibility on larger milestones at all
        times keeps everyone motivated.&CloseCurlyDoubleQuote;
      </SwiperSlide>

      <SwiperSlide img="/images/avatar-ali.png" title="Ali Bravo">
        &OpenCurlyDoubleQuote;We have been able to cancel so many other
        subscriptions since using Manage. There is no more cross-channel
        confusion and everyone is much more focused.&CloseCurlyDoubleQuote;
      </SwiperSlide>

      <SwiperSlide img="/images/avatar-richard.png" title="Richard Watts">
        &OpenCurlyDoubleQuote;Manage allows us to provide structure and process.
        It keeps us organized and focused. I can&CloseCurlyQuote;t stop
        recommending them to everyone I talk to!&CloseCurlyDoubleQuote;
      </SwiperSlide>

      <SwiperSlide img="/images/avatar-shanai.png" title="Shanai Gough">
        &OpenCurlyDoubleQuote;Their software allows us to track, manage and
        collaborate on our projects from anywhere. It keeps the whole team
        in-sync without being intrusive.&CloseCurlyDoubleQuote;
      </SwiperSlide>
    </Swiper>

    <a href="#get-started" class="btn btn-primary">Get Started</a>
  </div>
</section>

<style lang="scss">
  @use "../styles/scss/abstracts/" as *;

  .testimonials {
    margin-block-end: var(--spacer-900);
    text-align: center;

    @include breakpoint-up(md) {
      margin-block-end: calc(var(--spacer-400) * 8);
    }
  }
</style>
