// ------------------------------------------------------
// This file contains all application-wide CSS variables.
// ------------------------------------------------------

@use "../abstracts/" as *;

:root {
  //
  // Colors
  //
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }

  //
  // Font
  //
  --ff-primary: #{inspect($ff-primary)};

  --ff-body: #{$ff-body};

  // Font Sizes
  @each $size, $value in $font-sizes {
    --fs-#{$size}: #{$value};
  }

  --fs-body: #{$fs-body};
  --fs-primary-heading: #{$fs-primary-heading};
  --fs-secondary-heading: #{$fs-secondary-heading};
  --fs-lead: #{$fs-lead};

  // Font Weights
  @each $weight, $value in $font-weights {
    --fw-#{$weight}: #{$value};
  }

  //
  // Spacers
  //
  @each $spacer, $value in $spacers {
    --spacer-#{$spacer}: #{$value};
  }

  --gap: #{$gap};
  --transition: #{$transition};
  --shadow: #{$shadow};
}
